<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,600"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="stylesheet" href="css/style.css" />

    <link rel="icon" href="Favicon.png" />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Expense Tracker</title>
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/"><h2>Expense Tracker</h2></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if(user){ %>
           <li class="nav-item">
              <a class="nav-link" href="/users/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/statement">Statement</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/users/change/password">Change Password</a>
            </li>
            <%  } %>
          </ul>
          <div class="d-flex" role="search">
            <div class="d-grid gap-2 d-md-block">
              <% if(!user){ %>
                <a class="btn btn-primary" type="submit" href="/users/login">Login</a>
                <a class="btn btn-success" type="submit" href="/users/register">Sign up</a>
              <% } else{ %>
                <a class="btn btn-danger" type="submit" href="/users/logout">Logout</a>
             <%  } %>
            </div>
          </form>
        </div>
      </div>
    </nav>

