<%- include("./partials/header.ejs") %>
<main class="form-signin w-100 m-auto mt-5">
  <div class="card w-100 m-auto">
    <article class="card-body">
      <h4 class="card-title mb-4 mt-1 text-center">Income</h4>
      <% if(error) { %>
      <div class="m-4 alert alert-danger">
        <strong>Error : </strong> <%= error %>
      </div>
      <% } else if(success) { %>
      <div class="m-4 alert alert-success">
        <strong>Success : </strong> <%= success %>
      </div>
      <% } %>
      <form action="/users/income" method="post">
        <div class="form-group p-2 m-2">
          <input
            name="source_category"
            class="form-control"
            placeholder="Enter Income Source"
            type="text"
            required
          />
        </div>
        <div class="form-group p-2 m-2">
          <input
            name="amount"
            class="form-control"
            placeholder="Enter Income Amount"
            type="number"
            required
          />
        </div>
        <div class="form-group p-2 m-2">
          <input
            name="date"
            class="form-control"
            placeholder="Enter Date"
            type="date"
            required
          />
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group p-2 m-2">
              <button class="w-100 btn btn-primary" type="submit">Save</button>
            </div>
          </div>
        </div>
      </form>
    </article>
  </div>
</main>
<%- include("./partials/footer.ejs") %>
