<%- include("./partials/header.ejs") %>
<main class="form-signin w-100 m-auto mt-5">
  <div class="card w-100 m-auto">
    <article class="card-body">
      <h4 class="card-title mb-4 mt-1 text-center">Sign in</h4>
      <% if(error) { %>
      <div class="m-4 alert alert-danger">
        <strong>Error : </strong> <%= error %>
      </div>
      <% } else if(success) { %>
      <div class="m-4 alert alert-success">
        <strong>Success : </strong> <%= success %>
      </div>
      <% } %>
      <p class="text-center">
        <a class="btn btn-block btn-outline-dark p-2 m-2" href="/auth/github">
          <i class="fab fa-github"></i>   Login via Github</a
        >
        <a class="btn btn-block btn-outline-danger p-2 m-2" href="/auth/google">
          <i class="fab fa-google"></i>   Login via Google</a
        >
      </p>
      <hr />
      <form action="/users/login" method="post">
        <div class="form-group p-2 m-2">
          <input
            name="email"
            class="form-control"
            placeholder="Email"
            type="email"
          />
        </div>
        <!-- form-group// -->
        <div class="form-group p-2 m-2">
          <input
            name="password"
            class="form-control"
            placeholder="******"
            type="password"
          />
        </div>
        <!-- form-group// -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group p-2 m-2">
              <button class="w-100 btn btn-primary" type="submit">
                Sign in
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group p-2 m-2">
              <a
                class="w-100 btn btn-success"
                href="/users/register"
                type="submit"
              >
                Sign up
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-right p-2 m-2">
          <a class="small" href="/users/reset/password">Forgot password?</a>
        </div>
      </form>
    </article>
  </div>
</main>
<%- include("./partials/footer.ejs") %>
